<?xml version="1.0" encoding="utf-8"?>
<!--
This Nuget config file is only used in release builds to redirect all
NuGet package sources to the Central Feed Services (CFS) feed.
-->
<configuration>
  <packageSources>
    <clear />
    <add key="CFS" value="https://pkgs.dev.azure.com/mseng/1ES/_packaging/1ES_PublicPackages/nuget/v3/index.json" />
  </packageSources>
</configuration>
